---
// SectionTitle.astro
interface Props {
  class?: string;
}
const { class: className, ...rest } = Astro.props;
---

<h3
  class:list={[
    'mb-4 w-fit rounded-xl bg-indigo-600 px-6 py-2 text-2xl font-bold text-white shadow-lg shadow-indigo-600/20 md:text-3xl ...',
    className,
  ]}
  {...rest}
>
  <slot />
</h3>
